header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.header-cart {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
}

.cart-quantity {
	font-weight: bold;
	background-color: aqua;
	border-radius: 100px;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

ul li {
	list-style: none;
	display: flex;
	gap: 20px;
	align-items: center;
}

ul li input {
	max-width: 60px;
}
